body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    background: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background: url('pexels-alexandr-borecky-128389-393047\ \(1\).jpg') center/cover no-repeat;
    height: 450px;
    text-align: center;
    color: white;
    padding-top: 150px;
}

.hero button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-box {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.contact-box input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 30px;
}
